#app-cmp-main-footer {
    background-color: #4B2E83;
    color: #ffffff;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    border-top: 5px solid #A499C9;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
